


.dropdown-toggle::after{
	display: none  !important;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar-child {
	margin-right:16px;
    min-width: 200px;
    max-width: 200px;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
	background-position: center;
	background-repeat: repeat;
	background-size: 30%;
	background-color: #fff;
    color: #1f2029;
    transition: all 0.3s;
}

#sidebar-child.active {
    margin-left: -216px;
	opacity: 0;
}
.col-1{
	max-width: 2%;
}
.card-body{
	padding: 16px !important;
}

/* #sidebar-child .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
} */

/* #sidebar-child ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
} */
/* 
#sidebar-child ul p {
    color: #fff;
    padding: 10px;
}

#sidebar-child ul li a {
    padding: 10px;
    font-size: 1.1em;
    /* display: block; */
}

/* #sidebar-child ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar-child ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
} */

/* .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
} */

/* ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
} */ */

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.tab-content-wrapper {
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
	background-position: center;
	background-repeat: repeat;
	background-size: 30%;
	background-color: #fff;
}
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
 .nav-item .nav-link .fa-sort-down{
	margin-top:-6px;
	margin-left:5px;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar-child {
        margin-left: -200px;
    }
    #sidebar-child.active {
        margin-left: 0;
    }
    #sidebar-childCollapse span {
        display: none;
    }
}

.fa-exclamation-triangle{
    color: #FD0000;
    }
    a.disabled {
    pointer-events: none;
    cursor: default;
    }
    table .qty .button {
    display: inline-block;
    position: absolute;
    top: 0;
    }
    table .qty .button.minus {
    left: 0;
    border-radius: 0;
    overflow: hidden;
    }
    table .qty .button.plus {
    right: 0;
    border-radius: 0;
    overflow: hidden;
    }
    table .qty .button .btn {
    padding: 0;
    width: 38px;
    height: 38px;
    line-height: 50px;
    border-radius: 0px;
    background: #0099FF;
    color: #282828;
    border: none;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    table .qty .button .btn:hover {
    background: #0066CC !important;
    }
    table .qty .input-number {
        border-radius: 10px !important;
    border: 1px solid #eceded;
    width: 100%;
    text-align: center;
    height: 38px;
    border-radius: 0;
    overflow: hidden;
    padding: 0px 45px;
    }
    .btn-outline-secondary{
        border-color: #ccc !important; 
    }
    .fa-calendar{
        color:#333;
    }
    .btn-outline-secondary:hover{
        background-color: #CCCCFF !important;
        color: #333 !important;
    }
    .tab-content table{
        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
	background-position: center;
	background-repeat: repeat;
	background-size: 15%;
	background-color: #fff;
    border-top: 1px solid #CCCCCC !important;
    border-right: 1px solid #CCCCCC !important;
    border: 1px solid #CCCCCC;

    }
    .tab-content table thead{
        border-bottom: 1px solid #CCCCCC !important;

    }
    .page-item.active .page-link {
        background-color: #06F !important;
        border-color: #06F !important;
    }
    .button-success{
        background: #339933 !important;
    }
    .fa-cog{
    animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
    .fa-desktop{
    animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.bs-example{
    margin: 20px;
}
.accordion .fa{
    margin-right: 0.5rem;
      font-size: 24px;
      font-weight: bold;
    position: relative;
    top: 2px;
}
.accordion .btn-link:hover {
    color: #224abe;
    text-decoration: none !important;
}
.accordion .btn-link.focus, .btn-link:focus {
    text-decoration:none !important;
}
.accordion .card-header{
    padding:0;
}
.accordion .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
        figure.snip0013 {
          position: relative;
          overflow: hidden;
          margin: 10px;
          min-width: 150px;
          max-width: 150px;
          width: 100%;
          background: #000000;
          text-align: center;
          border-radius: 20px;
        }
        figure.snip0013 img {
          max-width: 100%;
          opacity: 1;
          -webkit-transition: opacity 0.35s;
          transition: opacity 0.35s;
        }
        figure.snip0013 > div {
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          height: 100%;
          position: absolute;
        }
        figure.snip0013 > div a {
          color: #ffffff;
          cursor: pointer;
        }
        figure.snip0013 > div a i {
          font-size: 50px;
          opacity: 0;
          top: 50%;
          position: relative;
          -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          display: inline-block;
        }
        figure.snip0013 > div a i.left-icon {
          -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
        }
        figure.snip0013 > div a i.right-icon {
          -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
        }
        figure.snip0013 > div::before {
          position: absolute;
          top: 30px;
          right: 50%;
          bottom: 30px;
          left: 50%;
          border-left: 1px solid rgba(255, 255, 255, 0.8);
          border-right: 1px solid rgba(255, 255, 255, 0.8);
          content: '';
          opacity: 0;
          background-color: #ffffff;
          -webkit-transition: all 0.4s;
          transition: all 0.4s;
          -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
        }
        figure.snip0013:hover img {
          opacity: 0.35;
        }
        figure.snip0013:hover > div i {
          opacity: 0.9;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
          -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
          color: #fff;
        }
        figure.snip0013:hover > div i.left-icon {
          -webkit-transform: translate3d(-25%, -50%, 0);
          transform: translate3d(-25%, -50%, 0);
        }
        figure.snip0013:hover > div i.right-icon {
          -webkit-transform: translate3d(25%, -50%, 0);
          transform: translate3d(25%, -50%, 0);
        }
        figure.snip0013:hover > div::before {
          background: rgba(255, 255, 255, 0);
          left: 30px;
          right: 30px;
          opacity: 1;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          color: #fff;

        }
  
  
  .toast{
      opacity: 1 !important;
  }
  .list-group-item.active{
    background-color: #0066FF !important;
    border-color: #0066FF !important;
  }
  .gj-picker{
      width: 20%;
  }
  .gj-picker table{
      margin: 0 auto !important;
  }
 select option:hover{
     background-color: #0066FF !important;
     color:#fff !important;

 }
 .list-group-item i:hover{
    color:#0066FF;
}
.sidebar-card {
width: 100%;
height: 100%;
background: #fff;
/* position: absolute; */
/* -webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out; */
z-index: 100;
}
.sidebar-card #leftside-navigation ul,
.sidebar-card #leftside-navigation ul ul {
margin: -2px 0 0;
padding: 0;
}
.sidebar-card #leftside-navigation ul li {
    padding: .75rem 1.2rem;
list-style-type: none;
border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.sidebar-card #leftside-navigation ul li.active > a {
color: #0066FF;
}
.sidebar-card #leftside-navigation ul li.active ul {
display: block;
}
.sidebar-card #leftside-navigation ul li i{
cursor: pointer;
}
.sidebar-card #leftside-navigation ul li i:hover{
color: #0066FF;

}
.sidebar-card #leftside-navigation ul li a {
    display: inline !important;
padding: .75rem .5rem;
color: #1F2029;
text-decoration: none;
display: block;
font-size: 1rem;
outline: 0;
/* -webkit-transition: all 200ms ease-in;
-moz-transition: all 200ms ease-in;
-o-transition: all 200ms ease-in;
-ms-transition: all 200ms ease-in;
transition: all 200ms ease-in; */
}
.sidebar-card #leftside-navigation ul li a:hover {
color: #0066FF;
}
.sidebar-card #leftside-navigation ul li a span {
display: inline-block;
}
.sidebar-card #leftside-navigation ul li a i {
margin-left: 0.5rem;
width: 20px;
}
.sidebar-card #leftside-navigation ul li a i .fa-angle-left,
.sidebar-card #leftside-navigation ul li a i .fa-angle-right {
padding-top: 3px;
}
.sidebar-card #leftside-navigation ul ul {
display: none;
padding: .75rem 0;
}
.sidebar-card #leftside-navigation ul ul li {
background: #fff;
margin-bottom: 0;
margin-left: 0;
margin-right: 0;
border-bottom: none;
padding-left: 10px;
}
.sidebar-card #leftside-navigation ul ul li a {
font-size: 0.9rem;
padding-top: 13px;
padding-bottom: 13px;
color: #1F2029;
}
.form-check-label:hover{
color: #0066FF !important;
}
* {
    box-sizing: border-box;
  }
  input[type="checkbox"] {
    
  }
  input[type="checkbox"]:focus {
    outline: 0;
  }
  .cbx {
    position: absolute;
    width: 24px;
    height: 24px;
  }
  .cbx input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #bfbfc0;
    border-radius: 50%;
  }
  .cbx label {
    width: 24px;
    height: 24px;
    background: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-filter: url("#goo");
    filter: url("#goo");
    transform: trasnlate3d(0, 0, 0);
    pointer-events: none;
  }
  .cbx svg {
    position: absolute;
    top: 5px;
    left: 4px;
    z-index: 1;
    pointer-events: none;
  }
  .cbx svg path {
    stroke: #fff;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 19;
    stroke-dashoffset: 19;
    transition: stroke-dashoffset 0.3s ease;
    transition-delay: 0.2s;
  }
  .cbx input:checked + label {
    animation: splash 0.6s ease forwards;
  }
  .cbx input:checked + label + svg path {
    stroke-dashoffset: 0;
  }
  @-moz-keyframes splash {
    40% {
      background: #0066FF;
      box-shadow: 0 -18px 0 -8px #0066FF, 16px -8px 0 -8px #0066FF, 16px 8px 0 -8px #0066FF, 0 18px 0 -8px #0066FF, -16px 8px 0 -8px #0066FF, -16px -8px 0 -8px #0066FF;
    }
    100% {
      background: #0066FF;
      box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
  }
  @-webkit-keyframes splash {
    40% {
      background: #0066FF;
      box-shadow: 0 -18px 0 -8px #0066FF, 16px -8px 0 -8px #0066FF, 16px 8px 0 -8px #0066FF, 0 18px 0 -8px #0066FF, -16px 8px 0 -8px #0066FF, -16px -8px 0 -8px #0066FF;
    }
    100% {
      background: #0066FF;
      box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
  }
  @-o-keyframes splash {
    40% {
      background: #0066FF;
      box-shadow: 0 -18px 0 -8px #0066FF, 16px -8px 0 -8px #0066FF, 16px 8px 0 -8px #0066FF, 0 18px 0 -8px #0066FF, -16px 8px 0 -8px #0066FF, -16px -8px 0 -8px #0066FF;
    }
    100% {
      background: #0066FF;
      box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
  }
  @keyframes splash {
    40% {
      background: #0066FF;
      box-shadow: 0 -18px 0 -8px #0066FF, 16px -8px 0 -8px #0066FF, 16px 8px 0 -8px #0066FF, 0 18px 0 -8px #0066FF, -16px 8px 0 -8px #0066FF, -16px -8px 0 -8px #0066FF;
    }
    100% {
      background: #0066FF;
      box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
  }
  .panel-heading {
    padding: 0;
      border:0;
  }
  .panel-title>a, .panel-title>a:active{
      display:block;
      padding:15px;
    color:#555;
    font-size:16px;
    font-weight:bold;
      text-transform:uppercase;
      letter-spacing:1px;
    word-spacing:3px;
      text-decoration:none;
  }
  .panel-heading  a:before {
     font-family: 'Glyphicons Halflings';
     content: "\e114";
     float: right;
     transition: all 0.5s;
  }
  .panel-heading.active a:before {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg);
  } 
  .label-color{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .notification-count{
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: 20%;
    left: 100%;
    background: #333;
    line-height: 22px;
    padding: 0 5px;
    height: 20px;
    min-width: 20px;
    color: #fff;
    text-align: center;
    border-radius: 24px;
  }
  
  .img-notification{
    height: 2.5rem;
    width: 2.5rem;
  }
  
